//======================
// BUTTONS
//======================

.tcu-button {
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: $font-normal;
	padding: $space-s $space-default;
	text-decoration: none !important;
	vertical-align: middle;

	&:hover {
		text-decoration: none !important;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-button {
		border: 1px solid buttonText;
	}
}

.tcu-button--primary {
	background-color: $purple;
	color: $white;
	font-size: 1.375rem;

	// We are removing the slide animation from hover state
	&:hover,
	&:focus {
		background: $dark-grey2;
		color: $white;
	}
}

.tcu-button--cabin {
	background-color: $purple;
	color: $white;
	font-family: $cabin;
	font-size: 1.2rem;

	&:hover,
	&:active {
		color: $white;
	}
}

.tcu-button--secondary {
	background-color: $white;
	border: 1px solid $grey;
	color: $text-color;
	font-size: 1.375rem;

	// We are removing the slide animation from hover state
	&:hover,
	&:focus {
		background: $dark-grey2;
		color: $white;
	}
}

// back-to-top
.tcu-top.tcu-is-visible {
	// the button becomes visible
	opacity: 1;
	visibility: visible;
}

.tcu-top.tcu-fade-out {
	// if the user keeps scrolling down, the button is out of focus and becomes less visible
	opacity: 0.5;
}

.tcu-top {
	background: rgba(163, 162, 172, 0.95) url('../images/svg/cd-top-arrow.svg') no-repeat center 50%;
	border: none;
	border-radius: 60px;
	bottom: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	display: inline-block;
	height: 60px;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	right: 10px;
	text-indent: 100%;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	visibility: hidden;
	white-space: nowrap;
	width: 60px;

	&:focus {
		box-shadow: $focus-black;
		color: $black;
		opacity: 1 !important;
		outline: dotted thin;
	}
}

.tcu-top.tcu-is-visible,
.tcu-top.tcu-fade-out,
.no-touch .tcu-top:hover {
	transition: opacity 0.3s 0s, visibility 0s 0s;
}

.tcu-top.tcu-is-visible {
	// the button becomes visible
	opacity: 1;
	visibility: visible;
}

.tcu-top.tcu-fade-out {
	// if the user keeps scrolling down, the button is out of focus and becomes less visible
	opacity: 0.6;
}

.no-touch .tcu-top:hover {
	background-color: $horned-frog-grey;
	opacity: 1;
}

.tcu-top {
	@include media($medium-screen) {
		bottom: 20px;
		right: 20px;
	}
}

.tcu-top {
	@include media($medium-screen) {
		bottom: 30px;
		height: 60px;
		right: 30px;
		width: 60px;
	}
}
