%select-first-element {
	// Select first heading/paragraph and remove top margin
	> p,
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-top: 0;
	}
}

%page-break-avoid {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	blockquote,
	div,
	iframe,
	object,
	embed {
		break-inside: avoid;
		page-break-inside: avoid;
	}
}

// WP adds an empty p tag which
// causes the columns to be uneven
//
// gives the first empty p tag
// a display: none
//
.tcu-three-columns > p:first-child,
.tcu-two-columns > p:first-child {
	&:empty {
		display: none !important;
	}
}

// Two columns
.tcu-two-columns {
	@extend %select-first-element;
	@extend %page-break-avoid;
	width: 100%;

	@include media($medium-screen) {
		column-count: 2;
		column-gap: 2em;
	}
}

// Three columns
.tcu-three-columns {
	@extend %select-first-element;
	@extend %page-break-avoid;
	width: 100%;

	@include media($medium-screen) {
		column-count: 3;
		column-gap: 2em;
	}
}
