// small dropdown
@include media($medium-screen) {
	.tcu-dropdown {
		border-radius: 4px;
		// Used for top arrow
		box-shadow: 0 0 0.125em 0.0625em rgba(118, 118, 118, 0.4);
		display: flex;
		flex-flow: column;
		position: relative;

		// Top arrow-up
		&::before {
			border-left: $space-s solid transparent;
			border-right: $space-s solid transparent;
			content: '';
			height: 0;
			left: 43%;
			position: absolute;
			top: -9px;
			width: 0;
		}

		li {
			a {
				padding-bottom: $space-s;
				padding-top: $space-s;

				@include media($medium-screen) {
					border-right: 0;
					display: block;
					padding-left: $space-m;
					padding-right: $space-m;
				}
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.tcu-dropdown--grey {
		background-color: $light-grey;

		li {
			border-bottom: 1px solid $dark-grey;

			a {
				@include media($medium-screen) {
					color: $dark-grey;
					width: 100%;
				}

				&:hover {
					color: $purple;
				}
			}
		}

		// Top arrow-up
		&::before {
			border-bottom: 10px solid $light-grey;
		}
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-dropdown {
		border: 2px solid buttonText;
		border-radius: 0;

		// Top arrow-up
		&::before {
			display: none;
		}
	}
}

//
// WordPress gives ul > ul a class of sub-menu
// We also need to make sure that this styling doesn't
// interfere with our sidebar navigation.
//
.tcu-nav-universal,
.tcu-main-nav {
	// Dropdowns - JS onclick event
	.tcu-expand--dropdown {
		@include media($medium-screen) {
			height: 30px;
			top: 12px;
			width: 30px;

			svg {
				fill: $white;
				height: 15px;
				pointer-events: none;
				width: 15px;
			}
		}

		&:focus {
			box-shadow: $focus-yellow;
			color: $secondary-yellow;
			outline: dotted thin;
		}
	}

	.tcu-contract--dropdown {
		@include media($medium-screen) {
			height: 30px;
			top: 12px;
			width: 30px;

			svg {
				fill: $white;
				height: 15px;
				pointer-events: none;
				width: 15px;
			}
		}

		&:focus {
			box-shadow: $focus-yellow;
			color: $secondary-yellow;
			outline: dotted thin;
		}
	}

	.sub-menu {
		list-style: none;

		@include media($medium-screen) {
			background-color: $light-grey;
			border-radius: 4px;
			border-top: 0;
			box-shadow: 0 0 2px 1px rgba(118, 118, 118, 0.4);
			// remove border from .tcu-main-nav
			margin-top: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			visibility: hidden;
			z-index: 8999;
		}

		// Top arrow-up
		&::before {
			@include media($medium-screen) {
				border-bottom: 10px solid $light-grey;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				content: '';
				height: 0;
				left: 25px;
				position: absolute;
				top: -9px;
				width: 0;
			}
		}

		li {
			border-bottom: 1px solid $dark-grey;
			padding-right: 0;
			width: 100%;

			a {
				padding-left: $space-m;
				padding-right: $space-m;

				@include media($medium-screen) {
					border-right: 0;
					color: $text-color;
					display: block;
					min-width: 200px;
				}

				&:hover {
					@include media($medium-screen) {
						color: $purple;
					}
				}

				&:focus {
					box-shadow: $focus-black;
					color: $black;
				}
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	// Display hover menu on click
	.tcu-visible {
		opacity: 1;
		overflow: visible;
		top: auto;
		transition: opacity 400ms ease-in-out;
		visibility: visible;
	}

	// Hide hover menu
	.tcu-nonvisible {
		opacity: 0;
		top: auto;
		transition: opacity 400ms ease-in-out;
		visibility: hidden;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-nav-universal,
	.tcu-main-nav {
		.sub-menu {
			border: 1px solid buttonText;

			// Top arrow-up
			&::before {
				@include media($medium-screen) {
					display: none;
				}
			}
		}
	}
}
