//========================================
// Inputs
//========================================
$focus-color: $secondary-orange;

legend {
	font-size: $h2-font-size;
	font-weight: $font-bold;
}

// We use this to get basic styling on all form elements
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea {
	appearance: none;
	background-color: $white;
	border: 1px solid $dark-grey;
	border-radius: 20px;
	box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
	color: rgba(17, 17, 17, 0.75);
	display: block;
	padding: $space-s;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
	width: 100%;
}

// Respect enforced amount of rows for textarea
textarea[rows] {
	height: auto;
}

// Focus styles
input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus,
textarea:focus {
	border-color: $grey;
	box-shadow: 0 0 5px $grey;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus,
textarea:focus,
select:focus {
	background: $white;
	border-color: $focus-color;
	box-shadow: $focus-orange;
	outline: none;
}

input[type='submit']:focus,
input[type='image']:focus {
	border-color: $focus-color;
	box-shadow: $focus-orange, $focus-orange;
	outline: 1px dotted $focus-orange;
}

// Added padding to make it more clear we are selecting this
input[type='image']:focus {
	padding: 2px;
}

input[type='text']:disabled,
input[type='password']:disabled,
input[type='date']:disabled,
input[type='datetime']:disabled,
input[type='datetime-local']:disabled,
input[type='month']:disabled,
input[type='week']:disabled,
input[type='email']:disabled,
input[type='number']:disabled,
input[type='search']:disabled,
input[type='tel']:disabled,
input[type='time']:disabled,
input[type='url']:disabled,
input[type='color']:disabled,
textarea:disabled {
	background-color: $grey;
	cursor: default;
}

input[type='text'][disabled],
input[type='text'][readonly],
fieldset[disabled] input[type='text'],
input[type='password'][disabled],
input[type='password'][readonly],
fieldset[disabled] input[type='password'],
input[type='date'][disabled],
input[type='date'][readonly],
fieldset[disabled] input[type='date'],
input[type='datetime'][disabled],
input[type='datetime'][readonly],
fieldset[disabled] input[type='datetime'],
input[type='datetime-local'][disabled],
input[type='datetime-local'][readonly],
fieldset[disabled] input[type='datetime-local'],
input[type='month'][disabled],
input[type='month'][readonly],
fieldset[disabled] input[type='month'],
input[type='week'][disabled],
input[type='week'][readonly],
fieldset[disabled] input[type='week'],
input[type='email'][disabled],
input[type='email'][readonly],
fieldset[disabled] input[type='email'],
input[type='number'][disabled],
input[type='number'][readonly],
fieldset[disabled] input[type='number'],
input[type='search'][disabled],
input[type='search'][readonly],
fieldset[disabled] input[type='search'],
input[type='tel'][disabled],
input[type='tel'][readonly],
fieldset[disabled] input[type='tel'],
input[type='time'][disabled],
input[type='time'][readonly],
fieldset[disabled] input[type='time'],
input[type='url'][disabled],
input[type='url'][readonly],
fieldset[disabled] input[type='url'],
input[type='color'][disabled],
input[type='color'][readonly],
fieldset[disabled] input[type='color'],
textarea[disabled],
textarea[readonly],
fieldset[disabled] textarea {
	background-color: $grey;
	cursor: default;
}

label {
	display: block;
	margin-bottom: $space-s;
	margin-top: $space-s;
	max-width: $max-text-length;
}

//  Style checkboxes/radioboxes for .tcu-fieldset-inputs class
.tcu-fieldset-inputs {
	// disable default styles
	select {
		appearance: none;
		background-color: $white;
		border: 1px solid $dark-grey;
		border-radius: 20px;
		box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
		color: rgba(17, 17, 17, 0.75);
		display: block;
		padding: $space-xs;
		transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
		width: 100%;
	}

	// Adjust margin for form elements below
	input[type='file'],
	input[type='checkbox'],
	input[type='radio'],
	select {
		margin: 0 0 $space-m 0;
	}

	// Add height value for select elements to match text input height
	select {
		appearance: none;
		background-color: $white;
		background-image: url('../images/arrow-down.png');
		background-image: url('../images/svg/down-arrow-dark.svg');
		background-position: right 1rem center;
		background-repeat: no-repeat;
		background-size: 1rem;
		border: 1px solid $dark-grey;
		border-radius: 0;
		line-height: normal;
		padding: $space-xs $space-m;

		&:hover {
			background-color: $white;
			border-color: $grey;
		}

		&:disabled {
			background-color: $grey;
			cursor: default;
		}
	}

	// Inline label for checkbox/radio
	input[type='checkbox'] + label,
	input[type='radio'] + label {
		display: inline-block;
		margin-bottom: 0;
		margin-left: $space-s;
		margin-right: $space-m;
		margin-top: 0;
		vertical-align: 0.6rem;
	}

	// Disabled checkbox/radio
	input[type='checkbox']:disabled + label::before,
	input[type='radio']:disabled + label::before {
		background-color: $grey;
		box-shadow: 0 0 0 1px $light-grey2;
		cursor: not-allowed;
	}

	// custom checkbox/radio
	input[type='checkbox'] + label::before,
	input[type='radio'] + label::before {
		background: $white;
		border-radius: 0.2em;
		box-shadow: 0 0 0 1px $dark-grey;
		content: '\a0';
		display: inline-block;
		height: 1.2rem;
		margin-right: $space-xs;
		text-indent: 0.19em;
		width: 1.2rem;
	}

	input[type='checkbox']:checked + label::before {
		background: $purple;
		background-image: url('../images/checked.png');
		background-image: url('../images/svg/checked.svg');
		background-position: 50%;
		background-repeat: no-repeat;
		color: $white;
	}

	input[type='checkbox']:checked + label::before,
	input[type='radio']:checked + label::before {
		background-color: $purple;
		box-shadow: 0 0 0 1px $purple;
	}

	// hide original checkbox/radio
	input[type='checkbox'],
	input[type='radio'] {
		clip: rect(0, 0, 0, 0);
		position: absolute;
	}

	input[type='checkbox'] + label,
	input[type='radio'] + label {
		cursor: pointer;
	}

	input[type='radio'] + label::before {
		border-radius: 100%;
		box-shadow: 0 0 0 2px $white, 0 0 0 3px $dark-grey;
		height: 1rem;
		line-height: 1rem;
		width: 1rem;
	}

	input[type='radio']:checked + label::before {
		box-shadow: 0 0 0 2px $white, 0 0 0 4px $purple;
	}

	input[type='radio']:focus + label::before {
		box-shadow: 0 0 0 2px $white, 0 0 0 4px $purple, 0 0 3px 4px $focus-color, 0 0 7px 4px $focus-color;
	}

	input[type='checkbox']:focus + label::before {
		box-shadow: 0 0 0 1px $white, 0 0 0 3px $purple, 0 0 3px 4px $focus-color;
	}
} // end of .tcu-fieldset-inputs

// Normalize file input width
input[type='file'] {
	width: 100%;
}

input[type='submit'] {
	background-color: $purple;
	border: none;
	color: $white;
	margin: 0 auto;
	padding: $space-s $space-m;
	text-align: center;
}
