// remove on mobile
.tcu-header {
	.tcu-banner__logo {
		display: none;

		@include media($medium-screen) {
			display: inline-block;
		}
	}
}

// Display banner on mobile nav
.mean-bar .tcu-banner__logo {
	display: block;
	left: 16px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.tcu-banner__logo {
	height: 113px;
	width: 129px;

	&:focus {
		box-shadow: $focus-yellow;
		color: $secondary-yellow;
	}

	@include media($medium-screen) {
		float: left;
		margin-left: $space-l;
		position: relative;
		top: 0;
	}

	@include media($xl-screen) {
		margin-left: 0;
	}
}

// fallback for tcu banner
html.no-svg .tcu-banner__logo {
	background: url('../images/tcu-logo-banner.png') top center no-repeat;
	display: block;
	height: 154px;
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 176px;
}

.tcu-logo {
	display: block;
	margin: $space-xl auto $space-l;
	text-align: center;

	@include media($large-screen) {
		margin-top: 260px;
	}
}

.tcu-logo--white {
	background-size: 143px 70px;
	height: 70px;
	width: 143px;
}

// fallback for footer white logo
html.no-svg .tcu-logo--white {
	background: url('../images/tcu-logo.png') top center no-repeat;
	display: block;
	height: 70px;
	margin: $space-l auto;
	text-align: center;
	width: 143px;
}

// High contrast mode - Black on white
@media screen and (-ms-high-contrast: black-on-white) {
	.tcu-logo--white {
		align-items: center;
		background-color: buttonText;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		padding: $space-l;
	}
}
