//========================================
// Media
//========================================

.tcu-article__thumb {
	float: left;
	margin-right: $space-m;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

video,
object {
	height: auto;
	max-width: 100%;
}

// Important for responsive videos
.video-container {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: $space-l;
	position: relative;

	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

@include media($small-screen) {
	// at this larger size, we can start to align images
	.alignleft,
	img.alignleft {
		display: inline;
		float: left;
		margin-right: $space-m;
	}

	.alignright,
	img.alignright {
		display: inline;
		float: right;
		margin-left: $space-m;
	}

	.aligncenter,
	img.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
} // end of media query
