//==========================
// Quotes
//==========================

.tcu-quote {
	border-bottom: 2px solid $purple;
	border-top: 2px solid $purple;
	color: $purple;
	font-size: 1.875rem;
	font-style: italic;
	margin: $space-l auto;
	padding-bottom: $space-l;
	padding-top: $space-l;
	position: relative;
	text-align: center;
}

// svg on top of the quote block
.tcu-quote__top {
	display: block;
	height: 57px;
	left: 45%;
	position: absolute;
	top: -30px;
	width: 57px;

	svg {
		height: 57px;
		width: 57px;
	}
}

// svg on btm of the quote block
.tcu-quote__btm {
	bottom: -30px;
	display: block;
	height: 57px;
	left: 45%;
	position: absolute;
	width: 57px;

	svg {
		height: 57px;
		width: 57px;
	}
}

blockquote {
	border-left: 10px solid $purple;
	font-size: 1.5rem;
	font-style: italic;
	padding-left: 0.8em;
}
