//===========================
// Tables
//===========================
.tcu-table {
	@include margin($space-m null);
	width: 100%;

	th {
		background-color: $purple;
		color: $white;
		padding: $space-m;
		text-align: left;
	}

	td {
		padding: $space-m;
	}

	tr {
		border-bottom: 1px solid $grey;

		&:nth-child(odd) {
			background-color: $light-grey;
		}
	}
}

.tcu-table--border {
	border: 1px solid $grey;
}
