// Tabs container
.tcu-tabs {
	position: relative;

	@include media($medium-screen) {
		border-bottom: 3px solid $purple;
	}
}

// Tab element
.tcu-tabs .tcu-tabs-nav .tcu-tabs-tab {
	display: none;

	&:hover {
		background-color: $horned-frog-grey;
	}

	@include media($medium-screen) {
		background-color: $light-grey;
		display: inline-block;
		position: relative;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-tabs .tcu-tabs-nav .tcu-tabs-state-default {
		border: 1px solid buttonText;
	}
}

// Tab anchor
.tcu-tabs .tcu-tabs-nav .tcu-tabs-anchor {
	color: $text-color;
	display: inline-block;
	font-weight: $font-normal;
	padding: $space-m;
	text-decoration: none;

	&:hover {
		color: $white;
	}
}

// Disabled tab
.tcu-tabs .tcu-tabs-nav .tcu-tabs-state-disabled {
	opacity: 0.5;
}

// Active state tab anchor
.tcu-tabs .tcu-tabs-nav .tcu-tabs-state-active .tcu-tabs-anchor {
	background-color: $white;
	border-top: 3px solid $purple;
	color: $purple;
}

// Tab panel
.tcu-tabs .tcu-tabs-panel {
	background-color: $white;
	border-bottom: 3px solid $purple;

	@include media($medium-screen) {
		border-bottom: 0;
	}
}

// Accordion anchor
.tcu-tabs .tcu-tabs-accordion-title .tcu-tabs-anchor {
	background-color: $light-grey;
	color: $text-color;
	display: block;
	font-weight: $font-normal;
	padding: $space-m;
	text-decoration: none;

	&:hover {
		background-color: $horned-frog-grey;
		color: $white;
	}
}

// Active accordion anchor
.tcu-tabs .tcu-tabs-accordion-title.tcu-tabs-state-active .tcu-tabs-anchor {
	background-color: $white;
	border-top: 3px solid $purple;
	color: $purple;
}

// Disabled accordion button
.tcu-tabs .tcu-tabs-accordion-title.tcu-tabs-state-disabled {
	opacity: 0.5;
}

// Responsive Tabs
.tcu-tabs .tcu-tabs-nav {
	margin: 0;
	padding: 0;
}

.tcu-tabs .tcu-tabs-tab {
	display: inline-block;
	list-style: none;
	margin: 0;
}

.tcu-tabs .tcu-tabs-panel {
	display: none;
	padding: $space-m;
}

.tcu-tabs .tcu-tabs-accordion-title {
	background-color: $light-grey;
	display: block;
	@include media($medium-screen) {
		display: none;
	}
}

.tcu-tabs .tcu-tabs-panel.tcu-tabs-state-active {
	display: block;
}
