html {
	font-size: $base-font-size;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: $cabin;
	font-size: 100%;
	font-weight: $font-normal;
	line-height: 1.5;
}

//====================
// TYPOGRAPHY
//====================

@font-face {
	font-display: swap;
	font-family: 'eurostileregular';
	font-style: normal;
	font-weight: 400;
	src: local('eurostileregular'), url('fonts/eurostile-webfont.woff2') format('woff2'),
		url('fonts/eurostile-webfont.woff') format('woff'), url('fonts/eurostile-webfont.ttf') format('truetype'),
		url('fonts/eurostile-webfont.eot') format('embedded-opentype');
}

@font-face {
	font-display: swap;
	font-family: 'moonface_scriptbold';
	font-style: normal;
	font-weight: 400;
	src: local('moonface_scriptbold'), url('fonts/moonface-script-bold-webfont.woff2') format('woff2'),
		url('fonts/moonface-script-bold-webfont.woff') format('woff'),
		url('fonts/moonface-script-bold-webfont.ttf') format('truetype'), url('fonts/moonface-script-bold-webfont.eot');
}

// cabin-regular - latin
@font-face {
	font-display: swap;
	font-family: 'Cabin';
	font-style: normal;
	font-weight: 400;
	src: local('Cabin'), local('Cabin-Regular'),
		url('fonts/cabin-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/cabin-v10-latin-regular.woff2') format('woff2'),
		url('fonts/cabin-v10-latin-regular.woff') format('woff'),
		url('fonts/cabin-v10-latin-regular.ttf') format('truetype'),
		url('fonts/cabin-v10-latin-regular.svg#Cabin') format('svg');
}

// cabin-italic - latin
@font-face {
	font-display: swap;
	font-family: 'Cabin';
	font-style: italic;
	font-weight: 400;
	src: local('Cabin Italic'), local('Cabin-Italic'),
		url('fonts/cabin-v10-latin-italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/cabin-v10-latin-italic.woff2') format('woff2'),
		url('fonts/cabin-v10-latin-italic.woff') format('woff'),
		url('fonts/cabin-v10-latin-italic.ttf') format('truetype'),
		url('fonts/cabin-v10-latin-italic.svg#Cabin') format('svg');
}

// arvo-regular - latin
@font-face {
	font-display: swap;
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 400;
	src: local('Arvo'), url('fonts/arvo-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/arvo-v9-latin-regular.woff2') format('woff2'), url('fonts/arvo-v9-latin-regular.woff') format('woff'),
		url('fonts/arvo-v9-latin-regular.ttf') format('truetype'),
		url('fonts/arvo-v9-latin-regular.svg#Arvo') format('svg');
}

// arvo-700 - latin
@font-face {
	font-display: swap;
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 700;
	src: local('Arvo Bold'), local('Arvo-Bold'), url('fonts/arvo-v9-latin-700.eot?#iefix') format('embedded-opentype'),
		url('fonts/arvo-v9-latin-700.woff2') format('woff2'), url('fonts/arvo-v9-latin-700.woff') format('woff'),
		url('fonts/arvo-v9-latin-700.ttf') format('truetype'), url('fonts/arvo-v9-latin-700.svg#Arvo') format('svg');
}

//
// use the best ampersand
// http://simplebits.com/notebook/2008/08/14/ampersands-2/
//
span.amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
	font-style: italic;
}

//====================================
// H1, H2, H3, H4, H5 H6 STYLES
//====================================

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $eurostile;
	font-weight: $font-normal;
	line-height: normal;
	text-rendering: optimizelegibility;
	word-wrap: break-word;

	// removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: $h1-font-size;
	margin: $space-l 0;
}

h2,
.h2 {
	font-size: $h2-font-size;
	margin: $space-l 0;
}

h3,
.h3 {
	font-size: $h3-font-size;
	margin: $space-m 0;
}

h4,
.h4 {
	font-size: $h4-font-size;
	margin: $space-m 0;
}

h5,
.h5 {
	font-size: $h5-font-size;
	margin: $space-s 0;
}

h6,
.h6 {
	font-size: $h6-font-size;
	margin: $space-s 0;
}

.tcu-moonface {
	font-family: $moonface !important;
}

.tcu-eurostile {
	font-family: $eurostile !important;
}

.tcu-cabin {
	font-family: $cabin !important;
}

.tcu-arvo {
	font-family: $arvo !important;
}
