//==========================================================================
// Stylesheet: Less than IE 9 Stylesheet

// So instead of using the respond.js file to add media query support
// to IE, we're going to use SASS to create an easily readable css file.
// Here, we import all the styles the standard stylesheet gets, only
// without the media queries. No need to worry about editing anything!

//==========================================================================

//
// Remember, all the BASE styles are called already since IE can
// read those. Below, we need to import only the stuff IE can't
// understand (what's inside the media queries). We also need to
// import the mixins and variables file so SASS can understand the variables.
//
// CORE
@import 'core/variables';
@import 'core/mixins';

//
// you can call the larger styles if you want, but there's really no need
//

//==============================================================================
// ADDITIONAL IE FIXES
// These fixes are now ONLY seen by IE, so you don't have to worry
// about using prefixes, although it's best practice. For more info
// on using Modernizr classes, check out this link:
// http://www.modernizr.com/docs/
// ==============================================================================

// Grid
// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.unit {
	float: left;
	padding-left: $gutter;
	padding-right: $gutter;
	transition: width 0.3s linear;
	zoom: 1;

	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}
}

// Use this helper class to control the order of your elements
.last {
	float: right;
}

.group {
	background-clip: padding-box;
	float: left;
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
}

.lastGroup {
	float: none;
	padding-left: 0;
	padding-right: 0;
}

.size1of1 {
	width: 100%;
}

.size1of2 {
	width: 50%;
}

.size1of3 {
	width: 33.3%;
}

.size2of3 {
	width: 66.6%;
}

.size1of4 {
	width: 25%;
}

.size3of4 {
	width: 75%;
}

.size3of8 {
	width: 37.5%;
}

.size5of8 {
	width: 62.5%;
}

.size7of8 {
	width: 87.5%;
}

.size1of8 {
	width: 12.5%;
}

// Layouts
.tcu-layout-constrain {
	max-width: $length;
}

// Universal Nav
.tcu-nav-universal {
	display: block;

	li {
		float: left;
		width: 33.3%;
	}
}

.tcu-has-children {
	// our arrow character
	&::after {
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		color: $white;
		content: '+';
		display: inline-block;
		height: 10px;
		position: absolute;
		right: 1px;
		top: 12px;
		width: 10px;
	}
}

.tcu-nav-universal__icons {
	max-width: 164px;
	padding: 0;

	// showing tcu-dropdown
	&:hover ul {
		opacity: 1;
		overflow: visible;
		top: 35px;
		transition: opacity 400ms ease-in-out;
		visibility: visible;
	}

	.tcu-dropdown {
		// for our transition animation
		border-top: 0;
		margin-top: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		visibility: hidden;
		z-index: 8999;

		li {
			max-width: 180px;
		}

		ul {
			padding: 0;
		}
	}
}

.tcu-dropdown {
	border-radius: 4px;
	// Used for top arrow
	box-shadow: 0 0 0.125em 0.0625em rgba(118, 118, 118, 0.4);
	position: relative;

	// Top arrow-up
	&::before {
		border-left: $space-s solid transparent;
		border-right: $space-s solid transparent;
		content: '';
		height: 0;
		left: 43%;
		position: absolute;
		top: -9px;
		width: 0;
	}

	li {
		a {
			padding-bottom: $space-s;
			padding-top: $space-s;
			border-right: 0;
			display: block;
			padding-left: $space-m;
			padding-right: $space-m;
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}

.tcu-dropdown--grey {
	background-color: $light-grey;

	li {
		border-bottom: 1px solid $dark-grey;

		a {
			color: $dark-grey;
			width: 100%;

			&:hover {
				color: $purple;
			}
		}
	}

	// Top arrow-up
	&::before {
		border-bottom: 10px solid $light-grey;
	}
}

// Header
.tcu-not-mobile {
	display: block !important;
}

.tcu-header__site-title {
	display: inline-block;
	// Needed to stay in the same linedisplay: inline-block;
	font-size: 2.5em;
	margin: $space-l;
	margin-right: 0;
	text-align: left;
	width: 60%;
}

.tcu-nav-universal__icons {
	max-width: 165px;
	padding-bottom: 0.9em;
	padding-top: 0.9em;
	position: relative;
}

// remove on mobile
.tcu-header {
	.tcu-banner__logo {
		display: inline-block;
	}
}

.tcu-banner__logo {
	float: left;
	margin-left: 0;
	position: relative;
	top: 0;
}

.tcu-logo {
	display: block;
	margin: 260px auto $space-l;
	text-align: center;
}

//========================
// MAIN NAVIGATION
//========================
.tcu-main-nav {
	border-top: 3px solid $white;
	float: left;
	list-style: none;
	// Add spacing to top of TCU banner
	margin-top: $space-l;
} // end .nav

.tcu-top-nav {
	display: block;
	margin-bottom: 0;
	margin-top: 0;

	// Give room for our arrow icon
	.menu-item-has-children {
		padding-right: 25px;
	}

	ul {
		list-style: none;
	}

	li {
		border: none;
		float: left;
		position: relative;

		a {
			color: $white;
			display: block;

			//
			// Had to use 10px which is not
			// a spacing unit we use through out
			// the website. 8px was too small and 16px
			// pushed the arrow too far away
			//
			padding: $space-default 10px;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				color: $secondary-yellow;
				font-weight: $font-normal;
				text-decoration: none;
			}

			&:focus {
				box-shadow: $focus-yellow;
				color: $secondary-yellow;
			}
		}
	} // end .menu li
}

.tcu-top-nav .sub-menu {
	background-color: $light-grey;
	border-radius: 4px;
	border-top: 0;
	box-shadow: 0 0 0.125em 0.0625em rgba(118, 118, 118, 0.4);
	list-style: none;
	// remove border from .tcu-main-nav
	margin-top: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	z-index: 8999;

	// Top arrow-up
	&::before {
		border-bottom: 10px solid $light-grey;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: '';
		height: 0;
		left: 25px;
		position: absolute;
		top: -9px;
		width: 0;
	}

	li {
		border-bottom: 1px solid $white;
		border-color: $dark-grey;
		padding-left: 0;

		a {
			border-right: 0;
			color: $text-color;
			display: block;
			min-width: 200px;

			&:hover {
				color: $purple;
			}
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}

.tcu-main-nav.tcu-layoutwrap--purple {
	padding-left: $space-m !important;
	padding-right: $space-m !important;
}

.tcu-main-nav .sub-menu {
	margin-bottom: 0;
	margin-top: 0;
}

.tcu-top-nav {
	.menu-item-has-children {
		padding-right: 0;

		> a {
			// our + character
			&::after {
				background-repeat: no-repeat;
				background-size: 100% auto;
				color: $white;
				content: '+';
				display: inline-block;
				height: 10px;
				margin-left: 10px;
				width: 10px;
			}
		}
	}

	li {
		border: none;
		float: left !important;
		position: relative;

		a {
			border-bottom: 0;

			&:hover {
				color: $secondary-yellow;
				font-weight: $font-normal;
				text-decoration: none;
			}

			&:focus {
				box-shadow: $focus-yellow;
				color: $secondary-yellow;
			}
		}

		// showing sub-menus
		&:hover ul {
			opacity: 1;
			overflow: visible;
			top: auto;
			transition: opacity 400ms ease-in-out;
			visibility: visible;
		}
	} // end .menu ul li
}

//==========================================
// Accordions
//==========================================
.tcu-accordion-content {
	display: block !important;
}
//=====================
// ENTRY CONTENT
//=====================
.tcu-article__content {
	max-width: $max-text-length;
}

.size1of1,
.m-size2of1 {
	// expand fullwidth for page template with no sidebar
	.tcu-article__content {
		max-width: 1070px;
	}
}
//=====================================
// PAGE NAVI STYLES
//=====================================
.tcu-pagination {
	li {
		border: 1px solid $text-color;
		display: inline;
		float: left;
		overflow: hidden;
		padding: 0;
	}
}
//======================
// BUTTONS
//======================
.tcu-button--primary {
	&:hover {
		background-color: $purple;
	}
}

.tcu-button--secondary {
	&:hover {
		background-color: $dark-grey;
	}
}

.tcu-top {
	bottom: 30px;
	height: 60px;
	right: 30px;
	width: 60px;
}

//======================
// Footer Widgets
//======================
.tcu-footer {
	background: url('../images/footer-desktop-img.png') top center no-repeat;

	&::after {
		background-color: $purple;
		content: '';
		// Height to accommodate only medium screens
		height: 427px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}

.tcu-footer__fountain {
	background: transparent;
	display: none;
	height: 0;
}

.tcu-footer__inner {
	background-color: $purple;
}

.tcu-footer__inner__wrap__nav {
	text-align: center;
	width: 100%;
}

.tcu-footer-departments__contact-info,
.tcu-footer-departments__wordmark {
	margin-left: $space-m;
	margin-right: $space-m;
	min-height: 250px;
	width: 30% !important;
}

.tcu-footer__inner__copyright {
	.tcu-socialmedia {
		// Make sure our "Social Media Directory" link is aligned with icons
		span {
			position: relative;
			top: -10px;
		}
	}
}

//=======================
// BREADCRUMBS
//=======================
.tcu-breadcrumbs {
	border-bottom: 3px solid $purple;
	width: 100%;
}

.tcu-facebook,
.tcu-flickr,
.tcu-instagram,
.tcu-pinterest,
.tcu-snapchat,
.tcu-twitter,
.tcu-youtube {
	background-position: top center;
	background-repeat: none !important;
	background-size: cover;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.tcu-facebook {
	background-image: url('../images/facebook.png');
}

.tcu-flickr {
	background-image: url('../images/flickr.png');
}

.tcu-instagram {
	background-image: url('../images/instagram.png');
}

.tcu-pinterest {
	background-image: url('../images/pinterest.png');
}

.tcu-snapchat {
	background-image: url('../images/snapchat.png');
}

.tcu-youtube {
	background-image: url('../images/youtube.png');
}

.tcu-twitter {
	background-image: url('../images/twitter.png');
}
.tcu-icon-home {
	background-position: top center;
	background-repeat: none !important;
	background-size: cover;
	display: inline-block;
	height: 18px;
	width: 20px;
	background-image: url('../images/home-icon.png');
}
