%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-academic-book {
	@extend %svg-common;
	background-position: 11.11111111111111% 0;
}

.svg-academic-book-dims {
	width: 40px;
	height: 40px;
}

.svg-academy-icon {
	@extend %svg-common;
	background-position: 66.66666666666667% 66.66666666666667%;
}

.svg-academy-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 0 11.11111111111111%;
}

.svg-arrow-right-dims {
	width: 40px;
	height: 40px;
}

.svg-arrows-icon {
	@extend %svg-common;
	background-position: 11.11111111111111% 11.11111111111111%;
}

.svg-arrows-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-book-icon {
	@extend %svg-common;
	background-position: 22.22222222222222% 0;
}

.svg-book-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-btm-quote {
	@extend %svg-common;
	background-position: 22.19324770438594% 11.11111111111111%;
}

.svg-btm-quote-dims {
	width: 39.53px;
	height: 40px;
}

.svg-bubbles-chat-text {
	@extend %svg-common;
	background-position: 0 22.22222222222222%;
}

.svg-bubbles-chat-text-dims {
	width: 40px;
	height: 40px;
}

.svg-business-man {
	@extend %svg-common;
	background-position: 11.11111111111111% 22.22222222222222%;
}

.svg-business-man-dims {
	width: 40px;
	height: 40px;
}

.svg-cal-31-icon {
	@extend %svg-common;
	background-position: 22.22222222222222% 22.22222222222222%;
}

.svg-cal-31-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-cal-icon {
	@extend %svg-common;
	background-position: 33.333333333333336% 0;
}

.svg-cal-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-camera-icon {
	@extend %svg-common;
	background-position: 33.333333333333336% 11.11111111111111%;
}

.svg-camera-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-camera-pic {
	@extend %svg-common;
	background-position: 33.333333333333336% 22.22222222222222%;
}

.svg-camera-pic-dims {
	width: 40px;
	height: 40px;
}

.svg-cap-icon {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.svg-cap-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chart-down {
	@extend %svg-common;
	background-position: 11.11111111111111% 33.333333333333336%;
}

.svg-chart-down-dims {
	width: 40px;
	height: 40px;
}

.svg-chart-icon {
	@extend %svg-common;
	background-position: 22.22222222222222% 33.333333333333336%;
}

.svg-chart-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chart-icon3 {
	@extend %svg-common;
	background-position: 33.333333333333336% 33.333333333333336%;
}

.svg-chart-icon3-dims {
	width: 40px;
	height: 40px;
}

.svg-chart-up-icon {
	@extend %svg-common;
	background-position: 44.44444444444444% 0;
}

.svg-chart-up-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chat-bubble-icon {
	@extend %svg-common;
	background-position: 44.44444444444444% 11.11111111111111%;
}

.svg-chat-bubble-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chat-bubbles-icon {
	@extend %svg-common;
	background-position: 44.44444444444444% 22.22222222222222%;
}

.svg-chat-bubbles-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chat-quote-icon {
	@extend %svg-common;
	background-position: 44.44444444444444% 33.333333333333336%;
}

.svg-chat-quote-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chat-text-icon {
	@extend %svg-common;
	background-position: 0 44.44444444444444%;
}

.svg-chat-text-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-check-box {
	@extend %svg-common;
	background-position: 11.11111111111111% 44.44444444444444%;
}

.svg-check-box-dims {
	width: 40px;
	height: 40px;
}

.svg-check-icon {
	@extend %svg-common;
	background-position: 22.22222222222222% 44.44444444444444%;
}

.svg-check-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-checkbox-list-icon {
	@extend %svg-common;
	background-position: 33.333333333333336% 44.44444444444444%;
}

.svg-checkbox-list-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-checked-list-icon {
	@extend %svg-common;
	background-position: 44.44444444444444% 44.44444444444444%;
}

.svg-checked-list-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chem-icon {
	@extend %svg-common;
	background-position: 55.55555555555556% 0;
}

.svg-chem-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-chemistry-icon2 {
	@extend %svg-common;
	background-position: 55.55555555555556% 11.11111111111111%;
}

.svg-chemistry-icon2-dims {
	width: 40px;
	height: 40px;
}

.svg-circle-next-arrow {
	@extend %svg-common;
	background-position: 55.55555555555556% 22.22222222222222%;
}

.svg-circle-next-arrow-dims {
	width: 40px;
	height: 40px;
}

.svg-clock-icon {
	@extend %svg-common;
	background-position: 55.55555555555556% 33.333333333333336%;
}

.svg-clock-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-computer-people-icon {
	@extend %svg-common;
	background-position: 55.55555555555556% 44.44444444444444%;
}

.svg-computer-people-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-desktop-icon {
	@extend %svg-common;
	background-position: 0 55.55555555555556%;
}

.svg-desktop-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-doc-icon {
	@extend %svg-common;
	background-position: 11.11111111111111% 55.55555555555556%;
}

.svg-doc-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-doc-person-icon {
	@extend %svg-common;
	background-position: 22.22222222222222% 55.55555555555556%;
}

.svg-doc-person-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-down-arrow {
	@extend %svg-common;
	background-position: 53.005464480874316% 96%;
}

.svg-down-arrow-dims {
	width: 34px;
	height: 25px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 44.44444444444444% 55.55555555555556%;
}

.svg-facebook-dims {
	width: 40px;
	height: 40px;
}

.svg-facebook-purple {
	@extend %svg-common;
	background-position: 55.537043207819615% 55.55555555555556%;
}

.svg-facebook-purple-dims {
	width: 39.88px;
	height: 40px;
}

.svg-film-icon {
	@extend %svg-common;
	background-position: 66.66666666666667% 0;
}

.svg-film-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-flag-icon {
	@extend %svg-common;
	background-position: 66.66666666666667% 11.11111111111111%;
}

.svg-flag-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-flickr {
	@extend %svg-common;
	background-position: 66.66666666666667% 22.22222222222222%;
}

.svg-flickr-dims {
	width: 40px;
	height: 40px;
}

.svg-flickr-purple {
	@extend %svg-common;
	background-position: 66.6611115740355% 33.333333333333336%;
}

.svg-flickr-purple-dims {
	width: 39.97px;
	height: 40px;
}

.svg-flowchart-icon {
	@extend %svg-common;
	background-position: 66.66666666666667% 44.44444444444444%;
}

.svg-flowchart-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-full-business-man {
	@extend %svg-common;
	background-position: 66.66666666666667% 55.55555555555556%;
}

.svg-full-business-man-dims {
	width: 40px;
	height: 40px;
}

.svg-full-man {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.svg-full-man-dims {
	width: 40px;
	height: 40px;
}

.svg-gift-icon {
	@extend %svg-common;
	background-position: 11.11111111111111% 66.66666666666667%;
}

.svg-gift-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-girl-icon {
	@extend %svg-common;
	background-position: 22.22222222222222% 66.66666666666667%;
}

.svg-girl-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-group-icon {
	@extend %svg-common;
	background-position: 33.333333333333336% 66.66666666666667%;
}

.svg-group-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-group-men-full {
	@extend %svg-common;
	background-position: 44.44444444444444% 66.66666666666667%;
}

.svg-group-men-full-dims {
	width: 40px;
	height: 40px;
}

.svg-home-icon {
	@extend %svg-common;
	background-position: 55.55555555555556% 66.66666666666667%;
}

.svg-home-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-instagram {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-instagram-dims {
	width: 40px;
	height: 40px;
}

.svg-instagram-purple {
	@extend %svg-common;
	background-position: 77.77777777777777% 0;
}

.svg-instagram-purple-dims {
	width: 40px;
	height: 39.9px;
}

.svg-laptop-icon {
	@extend %svg-common;
	background-position: 77.77777777777777% 11.083333333333334%;
}

.svg-laptop-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-list-icon {
	@extend %svg-common;
	background-position: 77.77777777777777% 22.194444444444446%;
}

.svg-list-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-mail-icon {
	@extend %svg-common;
	background-position: 77.77777777777777% 33.30555555555556%;
}

.svg-mail-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-man-icon {
	@extend %svg-common;
	background-position: 77.77777777777777% 44.416666666666664%;
}

.svg-man-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-map-marker-icon {
	@extend %svg-common;
	background-position: 77.77777777777777% 55.52777777777778%;
}

.svg-map-marker-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-marker-icon {
	@extend %svg-common;
	background-position: 77.77777777777777% 66.63888888888889%;
}

.svg-marker-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-marker-icon2 {
	@extend %svg-common;
	background-position: 0 77.77777777777777%;
}

.svg-marker-icon2-dims {
	width: 40px;
	height: 40px;
}

.svg-metal-icon {
	@extend %svg-common;
	background-position: 11.11111111111111% 77.77777777777777%;
}

.svg-metal-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-minus-icon {
	@extend %svg-common;
	background-position: 22.22222222222222% 77.77777777777777%;
}

.svg-minus-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-mouse-icon {
	@extend %svg-common;
	background-position: 33.333333333333336% 77.77777777777777%;
}

.svg-mouse-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-newspaper-icon {
	@extend %svg-common;
	background-position: 44.44444444444444% 77.77777777777777%;
}

.svg-newspaper-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-notebook-icon {
	@extend %svg-common;
	background-position: 55.55555555555556% 77.77777777777777%;
}

.svg-notebook-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-notecard-icon {
	@extend %svg-common;
	background-position: 66.66666666666667% 77.77777777777777%;
}

.svg-notecard-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-paper-clip {
	@extend %svg-common;
	background-position: 77.77777777777777% 77.77777777777777%;
}

.svg-paper-clip-dims {
	width: 40px;
	height: 40px;
}

.svg-pdf-icon {
	@extend %svg-common;
	background-position: 88.88888888888889% 0;
}

.svg-pdf-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-pen-paper {
	@extend %svg-common;
	background-position: 88.88888888888889% 11.11111111111111%;
}

.svg-pen-paper-dims {
	width: 40px;
	height: 40px;
}

.svg-pencil-icon {
	@extend %svg-common;
	background-position: 88.88888888888889% 22.22222222222222%;
}

.svg-pencil-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-pencil-paper-icon2 {
	@extend %svg-common;
	background-position: 88.88888888888889% 33.333333333333336%;
}

.svg-pencil-paper-icon2-dims {
	width: 40px;
	height: 40px;
}

.svg-person-icon {
	@extend %svg-common;
	background-position: 88.88888888888889% 44.44444444444444%;
}

.svg-person-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-person-window {
	@extend %svg-common;
	background-position: 88.88888888888889% 55.55555555555556%;
}

.svg-person-window-dims {
	width: 40px;
	height: 40px;
}

.svg-pie-icon {
	@extend %svg-common;
	background-position: 88.88888888888889% 66.66666666666667%;
}

.svg-pie-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-pie-icon2 {
	@extend %svg-common;
	background-position: 88.88888888888889% 77.77777777777777%;
}

.svg-pie-icon2-dims {
	width: 40px;
	height: 40px;
}

.svg-pinterest {
	@extend %svg-common;
	background-position: 0 88.88888888888889%;
}

.svg-pinterest-dims {
	width: 40px;
	height: 40px;
}

.svg-pinterest-purple {
	@extend %svg-common;
	background-position: 11.106483409690407% 88.88888888888889%;
}

.svg-pinterest-purple-dims {
	width: 39.85px;
	height: 40px;
}

.svg-play-icon {
	@extend %svg-common;
	background-position: 22.180555555555554% 88.88888888888889%;
}

.svg-play-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-plus-icon {
	@extend %svg-common;
	background-position: 33.291666666666664% 88.88888888888889%;
}

.svg-plus-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-quote-icon {
	@extend %svg-common;
	background-position: 44.40277777777778% 88.88888888888889%;
}

.svg-quote-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-ribbon-icon {
	@extend %svg-common;
	background-position: 55.513888888888886% 88.88888888888889%;
}

.svg-ribbon-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-search-icon {
	@extend %svg-common;
	background-position: 66.625% 88.88888888888889%;
}

.svg-search-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-setttings-icon {
	@extend %svg-common;
	background-position: 77.73611111111111% 88.88888888888889%;
}

.svg-setttings-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-snapchat {
	@extend %svg-common;
	background-position: 88.84722222222223% 88.88888888888889%;
}

.svg-snapchat-dims {
	width: 40px;
	height: 40px;
}

.svg-star-icon {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-star-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-sticker-icon {
	@extend %svg-common;
	background-position: 100% 11.11111111111111%;
}

.svg-sticker-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-suitecase-icon {
	@extend %svg-common;
	background-position: 100% 22.22222222222222%;
}

.svg-suitecase-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-ticket-icon {
	@extend %svg-common;
	background-position: 100% 33.333333333333336%;
}

.svg-ticket-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-time-icon {
	@extend %svg-common;
	background-position: 100% 44.44444444444444%;
}

.svg-time-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-top-quote {
	@extend %svg-common;
	background-position: 99.86961466973672% 55.55555555555556%;
}

.svg-top-quote-dims {
	width: 39.53px;
	height: 40px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 100% 66.66666666666667%;
}

.svg-twitter-dims {
	width: 40px;
	height: 40px;
}

.svg-twitter-purple {
	@extend %svg-common;
	background-position: 99.95280006663519% 77.77777777777777%;
}

.svg-twitter-purple-dims {
	width: 39.83px;
	height: 40px;
}

.svg-up-arrow {
	@extend %svg-common;
	background-position: 43.71584699453552% 96%;
}

.svg-up-arrow-dims {
	width: 34px;
	height: 25px;
}

.svg-woman-icon {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-woman-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-world-icon {
	@extend %svg-common;
	background-position: 11.11111111111111% 100%;
}

.svg-world-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-world-icon2 {
	@extend %svg-common;
	background-position: 22.22222222222222% 100%;
}

.svg-world-icon2-dims {
	width: 40px;
	height: 40px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 100% 88.88888888888889%;
}

.svg-youtube-dims {
	width: 40px;
	height: 40px;
}

.svg-youtube-icon {
	@extend %svg-common;
	background-position: 33.333333333333336% 55.55555555555556%;
}

.svg-youtube-icon-dims {
	width: 40px;
	height: 40px;
}

.svg-youtube-purple {
	@extend %svg-common;
	background-position: 33.333333333333336% 100%;
}

.svg-youtube-purple-dims {
	width: 40px;
	height: 40px;
}

