.tcu-header {
	background: $dark-grey url('../images/footer_lodyas_2@X.png') top center repeat;
	background-size: 600px 600px;
	clear: both;
	display: block;
}

.tcu-header__site-title {
	color: $white;
	display: block;
	font-family: $eurostile;
	font-size: 1.8em;
	// used to clear the tcu banner
	margin: 80px auto $space-m;
	text-align: center;
	width: 95%;

	@include media($medium-screen) {
		color: $white;
		display: inline-block;
		font-size: 2.5em;
		margin: $space-l;
		text-align: left;
		width: 60%;
	}

	@include media($xl-screen) {
		float: left;
		margin-right: 0;
		// Needed to stay in the same line
		width: 79%;
	}

	a {
		color: $white;

		&:hover {
			color: $white;
		}

		&:focus {
			box-shadow: $focus-yellow;
			color: $secondary-yellow;
		}

		// on click
		&:active {
			box-shadow: $focus-blue;
			color: $secondary-blue;
		}
	}
}
