/*
This was taken from Twenty Fourteen theme
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Headings
 * 3.0 - Text Elements
 * 4.0 - Links
 * 5.0 - Alignment
 * 6.0 - Tables
 * 7.0 - Images
 * ----------------------------------------------------------------------------
 */

 @font-face {
	font-family: 'eurostileregular';
	src: url('fonts/eurostile-webfont.eot');
	src: url('fonts/eurostile-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/eurostile-webfont.woff2') format('woff2'),
		 url('fonts/eurostile-webfont.woff') format('woff'),
		 url('fonts/eurostile-webfont.ttf') format('truetype'),
		 url('fonts/eurostile-webfont.svg#eurostileregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'moonface_scriptbold';
	src: url('fonts/moonface-script-bold-webfont.eot');
	src: url('fonts/moonface-script-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/moonface-script-bold-webfont.woff2') format('woff2'),
		 url('fonts/moonface-script-bold-webfont.woff') format('woff'),
		 url('fonts/moonface-script-bold-webfont.ttf') format('truetype'),
		 url('fonts/moonface-script-bold-webfont.svg#moonface_scriptbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cabin-v10-latin-regular.eot');
  src: local('Cabin'), local('Cabin-Regular'),
	   url('fonts/cabin-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
	   url('fonts/cabin-v10-latin-regular.woff2') format('woff2'),
	   url('fonts/cabin-v10-latin-regular.woff') format('woff'),
	   url('fonts/cabin-v10-latin-regular.ttf') format('truetype'),
	   url('fonts/cabin-v10-latin-regular.svg#Cabin') format('svg');
}

/* cabin-italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/cabin-v10-latin-italic.eot');
  src: local('Cabin Italic'), local('Cabin-Italic'),
	   url('fonts/cabin-v10-latin-italic.eot?#iefix') format('embedded-opentype'),
	   url('fonts/cabin-v10-latin-italic.woff2') format('woff2'),
	   url('fonts/cabin-v10-latin-italic.woff') format('woff'),
	   url('fonts/cabin-v10-latin-italic.ttf') format('truetype'),
	   url('fonts/cabin-v10-latin-italic.svg#Cabin') format('svg');
}

/* arvo-regular - latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/arvo-v9-latin-regular.eot');
  src: local('Arvo'),
	   url('fonts/arvo-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
	   url('fonts/arvo-v9-latin-regular.woff2') format('woff2'),
	   url('fonts/arvo-v9-latin-regular.woff') format('woff'),
	   url('fonts/arvo-v9-latin-regular.ttf') format('truetype'),
	   url('fonts/arvo-v9-latin-regular.svg#Arvo') format('svg');
}

/* arvo-700 - latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/arvo-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Arvo Bold'), local('Arvo-Bold'),
	   url('fonts/arvo-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('fonts/arvo-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	   url('fonts/arvo-v9-latin-700.woff') format('woff'), /* Modern Browsers */
	   url('fonts/arvo-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('fonts/arvo-v9-latin-700.svg#Arvo') format('svg'); /* Legacy iOS */
}

.tcu-moonface { font-family: 'moonface_scriptbold' !important; }
.tcu-eurostile { font-family: 'eurostileregular' !important; }
.tcu-cabin { font-family: 'Cabin' !important; }
.tcu-arvo { font-family: 'Arvo', serif !important; }


/**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */

html .mceContentBody {
  font-size: 100%;
}

body {
  color: #4D4D4A;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: baseline;
}


/**
 * 2.0 Headings
 * ----------------------------------------------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  text-rendering: optimizelegibility;
  font-weight: 400;
  line-height: normal;
}

h1 {
  font-family: 'eurostileregular', "Century Gothic", sans-serif;
  font-size: 50px;
  margin: 32px 0;
}

h2 {
  font-family: 'eurostileregular', "Century Gothic", sans-serif;
  font-size: 40px;
  margin: 32px 0;
}

h3 {
  font-family: 'eurostileregular', "Century Gothic", sans-serif;
  font-size: 30px;
  margin: 16px 0;
}

h4 {
  font-family: 'eurostileregular', "Century Gothic", sans-serif;
  font-size: 22px;
  margin: 16px 0;
}

h5 {
  font-family: 'eurostileregular', "Century Gothic", sans-serif;
  font-size: 16px;
  margin: 8px 0;
}

h5 {
  font-family: 'eurostileregular', "Century Gothic", sans-serif;
  font-size: 15px;
  margin: 8px 0;
}


h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}


/**
 * 3.0 Text Elements
 * ----------------------------------------------------------------------------
 */

address {
  font-style: italic;
  margin-bottom: 24px;
}

abbr[title] {
  border-bottom: 1px dotted #2b2b2b;
  cursor: help;
}

b,
strong {
  font-weight: 700;
}

cite {
  border: 0;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

mark,
ins {
  background: #fff9c0;
  border: 0;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0 0 24px;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

pre {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 12px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  border-left: 10px solid #4d1979;
  font-size: 1.5rem;
  font-style: italic;
  padding-left: 0.8em;
}

blockquote cite,
blockquote small {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

small {
  font-size: smaller;
}

big {
  font-size: 125%;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

dl {
  margin: 0 0 24px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 24px;
}

ul,
ol {
  list-style: none;
  margin: 0 0 24px 20px;
  padding-left: 0;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin: 0 0 0 20px;
}

del {
  color: #767676;
}

hr {
  background-color: #ACB1B4;
  border: 0;
  height: 3px;
  margin-bottom: 1.25em;
}


/**
 * 4.0 Links
 * ----------------------------------------------------------------------------
 */

a {
  color: #5A2884;
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: #5A2884;
  text-decoration: underline;
}

a:focus {
  color: #5A2884;
  text-decoration: underline;
}

a:active,
a:hover {
  color: #666666;
  text-decoration: underline;
}

/**
 * 5.0 Alignment
 * ----------------------------------------------------------------------------
 */

.alignleft {
  float: left;
  margin: 7px 24px 7px 0;
}

.alignright {
  float: right;
  margin: 7px 0 7px 24px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 7px auto;
}

blockquote.alignleft,
blockquote.alignright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 17px;
  width: 50%;
}

blockquote.alignleft p,
blockquote.alignright p {
  margin-bottom: 17px;
}


/**
 * 6.0 Tables
 * ----------------------------------------------------------------------------
 */

.mce-item-table table {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mce-item-table th,
.mce-item-table caption {
  background-color: #4D1979;
  color: #fff;
  padding: 15px;
}

.mce-item-table td {
  padding: 15px;
}

.mce-item-table tr {
  border-bottom: 1px solid #999999;
}
.mce-item-table tr:nth-child(odd) {
  background-color: #EEEEEE;
}

.tcu-table--border {
  border: 1px solid #999999;
}


/**
 * 7.0 Images
 * ----------------------------------------------------------------------------
 */

img {
  height: auto;
  max-width: 474px;
  vertical-align: middle;
}
.wp-caption {
  background: #eee;
  max-width: 100%;
  padding: 5px;
}

.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

.tcu-entry-content__bg-grey {
  background-color: #EEEEEE;
  padding: 16px;
}
