/******************************************************************
Site Name: TCU Admin
Author: Website and Social Media Management

Stylesheet: Login Stylesheet

******************************************************************/

html {
  background: #4d1979;
}
body.login h1 a {
  background: url(../images/svg/tcu-logo.svg) no-repeat top center;
  background-size: 300px 225px;
  width: 330px;
  height: 225px;
}
body.login{
  background: #4d1979;
}
body.login #login a {
  color: #fff;
}
