//======================
//ALERTS AND NOTICES
//======================
%tcu-alert {
	border: 1px solid;
	margin: 10px;
	padding: $space-xs $space-m;
}

.tcu-alert--help {
	@extend %tcu-alert;
	background: $alert-yellow;
	border-color: darken($alert-yellow, 5%);
	color: $black;
}

.tcu-alert--info {
	@extend %tcu-alert;
	background: $purple;
	border-color: darken($purple, 5%);
	color: $white;
}

.tcu-alert--error {
	@extend %tcu-alert;
	background: $alert-red;
	border-color: darken($alert-red, 5%);
}

.tcu-alert--success {
	@extend %tcu-alert;
	background: $alert-green;
	border-color: darken($alert-green, 5%);
}
