//=======================
// BREADCRUMBS
//=======================
.tcu-icon-home {
	svg,
	object,
	img {
		display: inline-block;
		fill: $black;
		height: 18px;
		vertical-align: sub;
		width: 20px;

		&:hover,
		&:active,
		&:visited {
			color: $purple;
			fill: $purple;
		}

		&:focus {
			box-shadow: $focus-teal;
			color: $secondary-teal;
			fill: $secondary-teal;
		}
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-icon-home {
		svg,
		object,
		img {
			fill: buttonText;
		}
	}
}

.tcu-breadcrumbs {
	border-bottom: 3px solid $purple;
	padding: $space-m;

	a {
		text-decoration: none;
	}

	.tcu-breadcrumbs__chevron {
		@include margin(null $space-xs);
	}
}
