//============================================
// COMMENT STYLES
//============================================
.tcu-comments {
	@include margin($space-m null);
	background-color: $light-grey;

	h4 {
		margin-left: $space-default;
		margin-right: $space-default;
	}

	a {
		font-weight: $font-bold;
	}
}

.tcu-left-100 {
	@include margin($space-s $space-s $space-s 100px);
}

.tcu-comments__title {
	background-color: $purple;
	color: $white;
	margin-top: 0;
	padding: $space-s;
}

.tcu-comments__list {
	margin: $space-default;

	li {
		clear: both;
		list-style-type: none;
		margin-bottom: $space-m;
		overflow: hidden;
		padding: $space-xs;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
		} // end .commentlist li ul.children
	}

	li[class*='depth-'] {
		margin-top: $space-default;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: $space-m;
		@include media($large-screen) {
			margin-left: 50px;
		}
		margin-top: 0;
		padding-bottom: 0;
	}

	// vcard
	.tcu-vcard {
		margin-left: 100px;

		cite.fn {
			font-style: normal;
			font-weight: 700;
		}

		time {
			float: right;

			a {
				color: $black;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		img.avatar {
			background: $white;
			border: 1px solid $light-grey2;
			left: 10px;
			padding: $space-xs;
			position: absolute;
		}
	} // end .commentlist .vcard

	// comment content
	.tcu-comments__content {
		@include margin($space-s $space-s $space-s 100px);
		background: $white;
		// 100px is used to align comments
		position: relative;

		// our left arrow
		&::before {
			border-bottom: 12px solid transparent;
			border-right: 12px solid $white;
			border-top: 12px solid transparent;
			content: '';
			display: inline-block;
			height: 0;
			left: -12px;
			margin: auto;
			position: absolute;
			top: 10px;
			width: 0;
		}

		p {
			@include margin($space-s $space-s $space-m);
			font-size: 1em;
		}
	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		background: $purple;
		color: $white;
		float: right;
		font-weight: $font-bold;
		margin-bottom: $space-s;
		padding: $space-xs $space-m;
		text-decoration: none;

		&:hover {
			background: $dark-grey;
		}

		&:focus {
			box-shadow: $focus-yellow;
			color: $secondary-yellow;
		}
	} // end .commentlist .comment-reply-link
} // end .commentlist

//==============================================
// COMMENT FORM STYLES
//==============================================

.tcu-comments__respond-form {
	margin: $space-m;

	form {
		margin: 0.75em auto;

		li {
			list-style-type: none;
			margin-bottom: $space-xs;

			@include media($large-screen) {
				float: left;
				padding-left: 1em;
			}

			&:first-child {
				@include media($medium-screen) {
					padding-left: 0;
				}
			}
		}

		input[type='text'],
		input[type='email'],
		input[type='url'],
		textarea {
			line-height: 1.5em;

			&:focus {
				background: $white;
			}

			// form validation
			&:invalid {
				background-color: $alert-red;
				border-color: darken($alert-red, 5%);
				box-shadow: none;
				outline: none;
			}
		}

		input[type='text'],
		input[type='email'],
		input[type='url'] {
			width: 100%;
		}

		textarea {
			height: 150px;
			resize: none;
			width: 100%;
		}
	}
}

// allowed tags
#allowed_tags {
	color: $white;
}

// no comments
.tcu-nocomments {
	margin: 0 $space-m $space-m;
}
