//=====================
// ENTRY CONTENT
//=====================
%select-first-element {
	// Select first heading/paragraph and remove top margin
	> p,
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-top: 0;
	}
}

.tcu-article__header,
.tcu-article__footer {
	@extend %select-first-element;

	a {
		font-weight: $font-bold;

		&:hover {
			text-decoration: underline;
		}
	}

	// remove spacing on archive post
	h3 {
		margin-bottom: 0;
	}
}

.tcu-article__content {
	@extend %select-first-element;

	@include media($xl-screen) {
		max-width: $max-text-length;
	}

	img {
		height: auto;
		margin: 0 0 $space-xs 0;
		max-width: 100%;
	}

	a {
		font-weight: $font-bold;

		&:hover {
			text-decoration: underline;
		}
	}

	// at this larger size, we can start to align images
	.alignleft,
	img.alignleft {
		display: inline;
		float: left;
		margin-right: $space-m;
	}

	.alignright,
	img.alignright {
		display: inline;
		float: right;
		margin-left: $space-m;
	}

	.aligncenter,
	img.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	ul,
	ol {
		margin-left: $space-l;
	}

	//
	// Make sure we don't have text decoration in our buttons
	// Added this so we can avoid adding !important on the
	// .tcu-button class
	//
	a.tcu-button {
		text-decoration: none;
	}
}

.size1of1,
.m-size2of1 {
	// expand fullwidth for page template with no sidebar
	.tcu-article__content {
		@include media($xl-screen) {
			max-width: 1070px;
		}
	}
}

.excerpt-read-more {
	font-weight: $font-bold;
}

// Used in shortcode - need to clean it up
.tcu-entry-content__bg-grey {
	background-color: $light-grey;
	padding: $space-m;
}

// post meta
.tcu-byline {
	color: $black;
	font-style: italic;
	margin-top: 0;
}
