//===============================
// Feeds
//===============================
.tcu-feed {
	background-color: $light-grey;

	svg {
		fill: $white;
		float: right;
		height: 30px;
		width: 30px;
	}
}

.tcu-feed__title {
	background-color: $dark-grey;
	color: $white;
	font-weight: $font-normal;
	margin: 0;
	padding: $space-s $space-m;
}

.tcu-feed__content {
	padding: $space-m;

	ul {
		padding-left: 0;
		padding-right: 0;

		li {
			border-bottom: 1px solid $grey;
			margin-bottom: $space-m;
			padding-bottom: $space-m;

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	a {
		display: block;
		font-weight: $font-normal;

		&:hover {
			font-weight: $font-bold;
		}
	}
}

.tcu-feed-title {
	display: block;
}

a.tcu-feed-title {
	font-weight: $font-normal;

	&:hover {
		color: $purple;
		font-weight: $font-bold;
	}
}

.tcu-feed-date {
	font-weight: $font-bold;
}

.tcu-feed-time {
	font-style: italic;
}

.tcu-feed-img {
	margin-bottom: $space-s;
}
