//========================
// MAIN NAVIGATION
//========================
.tcu-main-nav {
	float: left;
	list-style: none;
	// Add spacing to top of TCU banner
	margin-top: $space-l;

	@include media($medium-screen) {
		border-top: 3px solid $white;
	}
} // end .nav

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-main-nav {
		border-bottom: 1px solid buttonText;
	}
}

.tcu-top-nav {
	margin-bottom: 0;
	margin-top: 0;

	// Give room for our arrow icon
	.menu-item-has-children {
		@include media($medium-screen) {
			padding-right: 25px;
		}
	}

	@include media($medium-screen) {
		display: block;
	}

	ul {
		@include media($medium-screen) {
			list-style: none;
		}
	}

	li {
		display: block;
		float: none;

		@include media($medium-screen) {
			border: none;
			float: left;
			position: relative;
		}

		a {
			color: $white;
			display: block;
			padding: $space-m;
			text-decoration: none;

			@include media($medium-screen) {
				//
				// Had to use 10px which is not
				// a spacing unit we use through out
				// the website. 8px was too small and 16px
				// pushed the arrow too far away
				//
				padding: $space-default 10px;
				text-transform: uppercase;
			}

			&:hover {
				color: $white;
				font-weight: $font-normal;
				text-decoration: none;

				@include media($medium-screen) {
					color: $secondary-yellow;
				}
			}

			&:focus {
				box-shadow: $focus-yellow;
				color: $secondary-yellow;
			}
		}
	} // end .menu li
}

// Javascript disabled
.no-js .tcu-top-nav .sub-menu {
	list-style: none;

	@include media($medium-screen) {
		background-color: $light-grey;
		border-radius: 4px;
		// remove border from .tcu-main-nav
		border-top: 0;
		box-shadow: 0 0 0.125em 0.0625em rgba(118, 118, 118, 0.4);
		margin-top: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		visibility: hidden;
		z-index: 8999;
	}

	// Top arrow-up
	&::before {
		@include media($medium-screen) {
			border-bottom: 10px solid $light-grey;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			content: '';
			height: 0;
			left: 25px;
			position: absolute;
			top: -9px;
			width: 0;
		}
	}

	li {
		border-bottom: 1px solid $white;
		padding-left: $space-l;

		@include media($medium-screen) {
			border-color: $dark-grey;
			padding-left: 0;
		}

		a {
			color: $white;
			padding-left: $space-m;
			padding-right: $space-m;

			@include media($medium-screen) {
				border-right: 0;
				color: $text-color;
				display: block;
				min-width: 200px;
			}

			&:hover {
				@include media($medium-screen) {
					color: $purple;
				}
			}
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}

.no-js {
	.tcu-main-nav.tcu-layoutwrap--purple {
		padding-left: $space-m !important;
		padding-right: $space-m !important;
	}

	.tcu-main-nav .sub-menu {
		margin-bottom: 0;
		margin-top: 0;
	}
}

@include media($medium-screen) {
	.no-js .tcu-top-nav {
		.menu-item-has-children {
			padding-right: 0;

			> a {
				@include media($medium-screen) {
					// our + character
					&::after {
						@include arrow-down(FFFFFF);
						background-repeat: no-repeat;
						background-size: 100% auto;
						color: $white;
						content: '';
						display: inline-block;
						height: 10px;
						margin-left: 10px;
						width: 10px;
					}
				}
			}
		}

		li {
			float: left;
			position: relative;

			@include media($medium-screen) {
				border: none;
				float: left;
				position: relative;
			}

			a {
				border-bottom: 0;

				&:hover {
					color: $white;
					font-weight: $font-normal;
					text-decoration: none;

					@include media($medium-screen) {
						color: $secondary-yellow;
					}
				}

				&:focus {
					box-shadow: $focus-yellow;
					color: $secondary-yellow;
				}
			}

			// showing sub-menus
			&:hover ul {
				@include media($medium-screen) {
					opacity: 1;
					overflow: visible;
					top: auto;
					transition: opacity 400ms ease-in-out;
					visibility: visible;
				}
			}
		} // end .menu ul li
	} // end .nav
} // end of media query
