.tcu-modal {
	background-color: $light-grey;
	border-top: 15px solid $purple;

	a {
		font-weight: $font-bold;

		&:hover {
			text-decoration: underline;
		}
	}

	img {
		height: auto;
		margin: 0 0 $space-xs 0;
		max-width: 100%;
	}

	.tcu-button {
		svg {
			fill: $white;
			float: right;
			height: 30px;
			vertical-align: bottom;
			width: 30px;
		}
	}
}

.tcu-modal__content {
	margin: $space-m;
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-modal {
		border-left: 1px solid buttonText;
		border-right: 1px solid buttonText;
	}
}
