//=====================================
// PAGE NAVI STYLES
//=====================================

.tcu-pagination,
.wp-prev-next {
	margin: 0 0 $space-m;
}

.tcu-pagination {
	text-align: center;

	.dots:hover {
		background-color: $light-grey;
	}

	.dots:focus {
		background-color: $secondary-blue;
		box-shadow: $focus-black;
		color: $black;
	}

	ul {
		clear: both;
		display: inline-block;
		margin: 0;
		padding: 0;
		white-space: nowrap;

		li {
			@include margin($space-xs);
			border: 1px solid $text-color;
			display: inline;
			float: left;
			overflow: hidden;
			padding: 0;

			a,
			span {
				color: $text-color;
				display: block;
				font-size: 1em;
				font-weight: normal;
				line-height: 1em;
				margin: 0;
				min-width: 1em;
				padding: $space-s $space-m;
				text-decoration: none;
			}

			span.current {
				background-color: $purple;
				color: $white;
				font-weight: bold;
			}

			a:hover {
				background-color: $light-grey;
			}

			a:focus {
				background-color: $secondary-yellow;
				box-shadow: $focus-black;
				color: $black;
			}
		}
	}
} // end .tcu_page_navi

// fallback previous & next links
.wp-prev-next {
	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}
} // end .wp-prev-next
