//====================
// SEARCH FORM
//====================

.tcu-searchform__submit {
	background-color: $white !important;
	border-radius: 20px;
	color: $black !important;

	&:hover,
	&:focus {
		background-color: $dark-grey !important;
		color: $white !important;
	}
}

.tcu-searchform__label {
	display: inline-block;
}

// Located in the universal nav
.tcu-search-form__mobile {
	@include margin(null auto);
	// padding-bottom: 0.3em;
	width: 100%;

	.tcu-searchform {
		@include media($medium-screen) {
			// padding-top: .6em;
			// padding-bottom: .6em;
			text-align: left;
		}
	}

	.tcu-searchform__submit,
	.tcu-searchform__text {
		display: inline-block;
	}

	.tcu-searchform__text {
		width: 60%;

		@include media($large-screen) {
			width: 80%;
		}
	}
}

// 404 and search.php page
.tcu-search {
	background-color: $horned-frog-grey;
	padding: $space-s $space-m;
	text-align: center;

	.tcu-searchform__text {
		display: inline-block;
		vertical-align: middle;
		width: 60%;

		@include media($medium-screen) {
			width: 80%;
		}
	}

	.tcu-searchform__submit {
		display: inline-block;
		margin-left: 1em;

		&:hover,
		&:focus {
			background-color: $purple !important;
			color: $white !important;
		}
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-search-form__mobile {
		.tcu-searchform__submit {
			border: 1px solid buttonText;
		}
	}
}
