//=======================
// SIDEBARS & ASIDES
//=======================
.tcu-expand,
.tcu-contract,
.tcu-reveal {
	// We kept .tcu-reveal for backward compatability
	background-color: transparent;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 16px auto;

	&:focus {
		box-shadow: $focus-black;
		color: $black;
		outline: dotted thin;
	}
}

// Display hover menu on click
.widget_nav_menu,
.tcu-sidebar__widget-title {
	.tcu-visible {
		display: block;
	}

	// Hide hover menu
	.tcu-nonvisible {
		display: none;
	}
}

// Change the focus outline for the title arrow buttons
.tcu-sidebar__widget-title {
	.tcu-contract,
	.tcu-expand {
		&:focus {
			box-shadow: $focus-orange;
			color: $secondary-orange;
			outline: dotted thin;
		}
	}
}

.widget_nav_menu {
	background-color: $light-grey;

	.current_page_item > a,
	.current-menu-item > a {
		font-weight: $font-bold;
		text-decoration: underline;
	}

	.tcu-expand {
		svg {
			fill: $text-color;
			height: 20px;
			pointer-events: none;
			width: 20px;
		}
	}

	.tcu-contract {
		svg {
			fill: $text-color;
			height: 20px;
			pointer-events: none;
			width: 20px;
		}
	}

	a {
		color: $text-color;
		display: block;
		font-weight: $font-normal;
		padding: $space-s $space-xl $space-s $space-m;

		&:hover {
			background-color: $horned-frog-grey;
			color: $white;
			text-decoration: none;
		}

		&:focus {
			box-shadow: $focus-black;
			color: $black;
		}
	}

	ul {
		@include margin(0);
		color: $white;
		list-style: none;
		padding-left: 0;
		padding-right: 0;

		li {
			border-bottom: 2px solid $white;
			padding-bottom: 0;
			padding-top: 0;

			&:last-child {
				border-bottom: none;
			}
		}

		ul {
			background-color: $white;
			color: $text-color;

			li a {
				border-left: 3px solid $purple;
				color: $text-color;
				margin-left: $space-l;
			}

			ul li {
				color: $text-color;
				margin-left: $space-l;
			}
		}
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.widget_nav_menu {
		border: 1px solid buttonText;

		.tcu-sidebar__widget-title {
			border-bottom: 1px solid buttonText;
		}

		.tcu-expand {
			svg {
				fill: buttonText;
			}
		}

		.tcu-contract {
			svg {
				fill: buttonText;
			}
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.tcu-sidebar__widget-title {
	background-color: $purple;
	color: $white;
	margin-bottom: 0;
	margin-top: 0;
	padding: $space-s $space-xl $space-s $space-m;
	//
	// We position this as relative because we
	// are adding the expand/contract arrows
	// as absolute
	//
	position: relative;

	a {
		color: $white;
	}

	.tcu-expand {
		svg {
			fill: $white;
			height: 20px;
			pointer-events: none;
			width: 20px;
		}
	}

	.tcu-contract {
		svg {
			fill: $white;
			height: 20px;
			pointer-events: none;
			width: 20px;
		}
	}
}

// add icons to desktop navigation
// only when js is active
.tcunavmenu_active {
	.tcu-sidebar__widget-title {
		position: relative;
	}

	.menu-item-has-children {
		color: $white;
		position: relative;

		ul li {
			color: $text-color;

			&:hover {
				color: $text-color;
			}

			ul li {
				margin-left: $space-l;
			}
		}

		&:hover {
			color: $text-color;
		}
	}
}

@media screen and (-ms-high-contrast: black-on-white) {
	.widget_nav_menu {
		.tcu-sidebar__widget-title {
			background-color: transparent;

			.tcu-contract,
			.tcu-expand {
				svg {
					fill: buttonText;
				}
			}
		}
	}
}
