//=========================
// WIDGETS
//=========================/

// Style all widgets inside our sidebar
.tcu-sidebar__widget {
	background-color: $light-grey;
	margin-bottom: $space-l;

	a {
		font-weight: $font-bold;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		list-style-position: inside;
		padding-left: $space-l;
		padding-right: $space-l;

		li {
			padding-bottom: $space-s;
			padding-top: $space-s;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.tcu-sidebar__widget.widget_rss {
	ul {
		list-style-type: none !important;
	}
}

.tcu-sidebar__widget.widget_tag_cloud {
	.tagcloud {
		padding: $space-inset-m;
	}
}

// RSS Feed
.rss-date {
	display: block;
	font-style: italic;
}

// image widget
.widget_sp_image {
	background-color: transparent;
	text-align: center;

	img {
		height: auto;
	}
}

// Let's ensure our searchform
// is styled accordingly in a widget
//
.widget_search {
	background-color: $horned-frog-grey;

	.tcu-searchform {
		margin: 1em;
	}

	.tcu-searchform__text {
		display: inline-block;
		width: 70%;
	}
}

.widget_calendar {
	.calendar_wrap {
		@include margin($space-default auto);
		width: 90%;

		#next {
			text-align: right;
		}
	}

	tbody {
		text-align: center;
	}

	a {
		color: $purple;
		font-weight: $font-bold;
	}
}

.tcu-sidebar__widget {
	.textwidget {
		p {
			@include margin($space-default);
		}
	}
}

// Sidebar & Footer lists
.tcu-footer__widget {
	p {
		&:first-child {
			margin-top: 0;
		}
	}

	.tcu-footer__widget-title {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	a {
		font-weight: $font-bold;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		@include margin($space-s $space-default);

		li {
			padding-bottom: $space-s;
			padding-top: $space-s;

			&:last-child {
				border-bottom: none;
			}
		}

		ul {
			margin-bottom: 0;
		}
	}
}

.tcu-sidebar {
	// let's make sure all our images are responsive
	img {
		height: auto;
		margin: 0;
		max-width: 100%;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-footer-departments__widgets {
		border: 1px solid buttonText;
	}

	.tcu-sidebar__widget-title {
		background-color: highlight;
	}
}

@media screen and (-ms-high-contrast: black-on-white) {
	.tcu-sidebar__widget-title {
		background-color: transparent;
		border: 1px solid buttonText;
	}
}
