//======================
// HELPER CLASSES
//======================

// Visiually Hidden
.tcu-visuallyhidden {
	border: 0 none;
	clip: rect(0, 0, 0, 0);
	font-size: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// for backwards compatibility ONLY
// Let's start to phase these out...
//
//  Margin bottom
.tcu-below6 {
	margin-bottom: 6px !important;
}

.tcu-below12 {
	margin-bottom: 12px !important;
}

.tcu-below18 {
	margin-bottom: 18px !important;
}

.tcu-below30 {
	margin-bottom: 30px !important;
}

.tcu-below36 {
	margin-bottom: 36px !important;
}

.tcu-below48 {
	margin-bottom: 48px !important;
}

// Margin top
.tcu-top6 {
	margin-top: 6px !important;
}

.tcu-top12 {
	margin-top: 12px !important;
}

.tcu-top18 {
	margin-top: 18px !important;
}

.tcu-top24 {
	margin-top: 24px !important;
}

.tcu-top30 {
	margin-top: 30px !important;
}

.tcu-top36 {
	margin-top: 36px !important;
}

.tcu-top48 {
	margin-top: 48px !important;
}

// =========================================================
// updated helper classes to reflect spacing variables
// IMPORTANT: Only use the ones below.
// =========================================================

// Margin bottom
.tcu-below4 {
	margin-bottom: 4px !important;
}

.tcu-below8 {
	margin-bottom: 8px !important;
}

.tcu-below16 {
	margin-bottom: 16px !important;
}

.tcu-below32 {
	margin-bottom: 32px !important;
}

.tcu-below64 {
	margin-bottom: 64px !important;
}

//  Margin top
.tcu-top4 {
	margin-top: 4px !important;
}

.tcu-top8 {
	margin-top: 8px !important;
}

.tcu-top16 {
	margin-top: 16px !important;
}

.tcu-top32 {
	margin-top: 32px !important;
}

.tcu-top64 {
	margin-top: 64px !important;
}

//  Remove Padding
.tcu-pad-t0 {
	padding-top: 0 !important;
}

.tcu-pad-b0 {
	padding-bottom: 0 !important;
}

.tcu-pad-r0 {
	padding-right: 0 !important;
}

.tcu-pad-l0 {
	padding-left: 0 !important;
}

.tcu-pad-tb0 {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.tcu-pad-lr0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

//  Remove Margin
.tcu-mar-t0 {
	margin-top: 0 !important;
}

.tcu-mar-b0 {
	margin-bottom: 0 !important;
}

.tcu-mar-l0 {
	margin-left: 0 !important;
}

.tcu-mar-r0 {
	margin-right: 0 !important;
}

.tcu-mar-tb0 {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.tcu-mar-lr0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

//  Text alignment
.tcu-alignl {
	text-align: left !important;
}

.tcu-alignr {
	text-align: right !important;
}

.tcu-alignc {
	text-align: center !important;
}

// Text transform */
.tcu-lowercase {
	text-transform: lowercase !important;
}

.tcu-uppercase {
	text-transform: uppercase !important;
}

.tcu-small {
	font-size: $font-small;
}

.tcu-full-width {
	width: 100% !important;
}

.tcu-line-height-1 {
	line-height: 1 !important;
}

.tcu-not-mobile {
	display: none;

	@include media($medium-screen) {
		display: block;
	}
}
